.custom-header-title{
  width: calc(100% - 260px);
  max-width: calc(100% - 260px);
  align-items: center;
  span{
    display: flex;
  }
}

.custom-tools{
  float: right;
  display: flex;
  margin-right: 10px;
  padding-top: 15px;
  padding-bottom: 15px;
}

.custom-header{
  display: flex;
  div{
    display: flex;
  }
}
