.meta-rule-container {

  .meta-rule-title {
    margin-bottom: 15px;

    p {
      font-size: 24px;
      color: #1f2d3d;
      line-height: 33px;
      margin-top: 0;
      margin-right: 8px;
      margin-bottom: 0;
    }
  }

}

.meta-card-header {
  font-size: 20px;
  font-weight: 600;
}

.meta-card-form {
  margin-top: 20px;
}

.meta-key-desc{
  color: #8492a6;
  font-size: 12px;
  margin-bottom: 8px;
}

.rule-comment{
  color: #8492a6;
  font-size: 12px;
  margin-bottom: 8px;
}
